.grid {
    display: grid;
    max-width: 1240px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px;
    padding: 50px;
    background-color:rgba(246, 246, 246, 1);
    border-radius: 25px;
  }
  
  article {
    background-color: #ff6f61;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 340px;
    max-width: 340px;
    display: flex;
    align-items: center;
  
    h2 {
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
  }
  