.apartement {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
  
    .card_img {
    height: 400px;
    max-width: 400px; 
    border-radius: 10px;
    background-color: #ff6f61;
    object-fit: cover;
    
    @media screen and (max-width: 760px) {
        width: 100%;
    }
    }
  
    .card_title {
        font-family: 'Montserrat';
        display: flex;
        position: absolute;
        text-decoration: none;
        color: white;
        left: 18px;
        bottom: 15px;
        font-size: 17px;
        font-weight: 700;
    }
  }
  