body{
    font-family: 'Montserrat', 'sans serif';
    max-width: 1440px;
    padding: 40px 40px 0 40px;
    margin: 0 auto;
    @media screen and (max-width: 760px) {
        padding-top: 20px;
    }
}